<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PracticeTestSuite">
	
	<listeners>
		<listener class-name="phonghmh.rshcm.listeners.ListenerTest"/>
	</listeners>
	
	<parameter name="username" value="Admin"></parameter>
	<parameter name="password" value="admin123"></parameter>
	<test name="Demo01">
		<classes>
			<class name="phonghmh.rshcm.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
</suite>
